<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/nav.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/sonnyangels">Sonny Angels</a>
        <a href="/sonnyangels/new">Add a Sonny Angel</a>
    </nav>
</body>
</html>