<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SONNY ANGEL COLLECTION APP</title>
</head>
<body>
    <h1>Welcome to Sonny Angels Collectors App!</h1>  
    <p>An app for collecting all your cute friends!</p>  
    <a href="/sonnyangels">See All Sonnys!</a>
    <a href="/sonnyangels/new">Add a Friend!</a>
</body>
</html>