<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits Index Page</title>
</head>

<body>
    <h1><%= message %> - All Sonny Angels</h1>
    <a href="/sonnyangels/index">Add New Sonny Angel</a>
    <ul>
        <% sonnyangels.forEach(sonnyangel => { %>
            <li>
                <a href="/sonnyangels/<%= sonnyangel._id %>"><%= sonnyangel.name %></a> 
            </li>
        <% }); %>
    </ul>
    <a href="/">Go Back to Homepage</a> | <a href="/sonnyangels/index">Add new Sonny Angel</a>
    </li>
    </ul>
  </body>
</html>