<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD A NEW SONNY ANGEL</title>
</head>
<body>
    <h1>Add a new friend!</h1>
     <form action="/sonnyangels" method="POST">
        <div>
          <label for="name">SonnyAngel Name:</label>
          <input type="text" name="name" id="name" />
        </div>
        <div>
          <label for="isPulled">Is Already Pulled:</label>
          <input type="checkbox" name="isPulled" id="isReadyToEat" />
        </div>
        <button type="submit">Add Sonny Angel</button>
      </form>
</body>
</html>